---
name: Format
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install just
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | sudo bash -s -- --to /usr/local/bin

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Install nixfmt-rfc-style
        run: nix-env -iA nixfmt-rfc-style -f '<nixpkgs>'

      - name: Run format command
        run: just fmt

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto-format Nix files"
          # file_pattern: "*.nix"
